/*   HEADER   */
.main-homepage #top-actions {
    position: relative;
}
#visual-portal-wrapper #messagesviewlet dt::after{
    border-right-width: 0px;
}
#messagesviewlet dt {
    padding: 4% 0;
    width: 100%;
}
#messagesviewlet dd {
    margin: 0;
}
.close-button {
    cursor: pointer;
    margin-top: 0;
    position: absolute;
    right: 4%;
    top: 4%;
}
.main-homepage #top-actions {
    display: block;
    font-size: 6vw;
    left: 59%;
    position: absolute;
    right: 0;
    top: 42%;
}
.top-navigation-actions {
    margin-top: 0;
}
.main-homepage #top-navigation {
    margin-right: 0;
    padding-left: 4%;
    width: 253%;
}
#top-navigation-inner {
    padding-top: 2em;
}
#top-navigation {
    background-color: transparent;
}
#top-actions-actions #btn-search {
    display: none;
}
.top-menu-action {
    display: block;
}
.top-menu-action dt {
    padding-bottom: 9%;
}
/*   NAVIGATION   */

/*   CONTENT   */
#portal-columns{
    top:0;
}
/*   SLIDER UNIQUE  */
#accueil .element-en-evidence .pagecaption h3 {
    font-size: 5vw;
    padding-left: 38%;
    width: 50%;
}
#accueil .element-en-evidence .pagecaption {
    min-height: 0;
}
/*   SLIDER MULTI   */
#accueil #flex.slider-multiple .carousel .flex-viewport li .flex-caption h2{
    padding: 0;
}
.flex-direction-nav {
    display: none;
}